<div class="clr-row">
    <div class="clr-col-sm">
        <div class="card">
            <div class="card-block">
                <div class="card-body">
                    <clr-icon class="card-image" style="width: 48px; height: 48px;" shape="dollar"></clr-icon>                    
                    <div class="card-media-description card-block justify-end">
                        <span class="card-media-title"> 0 </span>
                        <br>
                        <span class="card-media-text"> Clients </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-sm">
        <div class="card">
            <div class="card-block">
                <div class="card-body">
                    <div class="card-body">
                        <clr-icon class="card-image" style="width: 48px; height: 48px;" shape="blocks-group"></clr-icon>                    
                    <div class="card-media-description card-block justify-end" >
                        <span class="card-media-title" >0</span>
                        <br>
                        <span class="card-media-text"> projects </span>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-sm">
        <div class="card">
            <div class="card-block">
                <div class="card-body">
                    <clr-icon class="card-image" style="width: 48px; height: 48px;" shape="tasks"></clr-icon>                    
                    <div class="card-media-description card-block justify-end">
                        <span class="card-media-title ">0</span>
                        <br>
                        <span class="card-media-text"> Tasks </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clr-col-sm">
        <div class="card">
            <div class="card-block">
                <div class="card-body">
                    <clr-icon class="card-image" style="width: 48px; height: 48px;" shape="users"></clr-icon>                    
                    <div class="card-media-description card-block justify-end">
                        <span class="card-media-title">{{employees.length}}</span>
                        <br>
                        <span class="card-media-text"> Employees </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>